:root {
  --border-rad-lg: 15px;
  --light-text: #fefefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

main {
  background-color: slategrey;
  background-image: url("images/scrimba-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* chatbot elements */
.chatbot-container {
  background-color: #171f26;
  width: 95%; /* Increased from 360px */
  height: 600px; /* Increased from 380px */
  border-radius: var(--border-rad-lg);
  padding: 1em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chatbot-container > * {
  padding: 0.5em;
}

.chatbot-header {
  display: flex;
  flex-direction: column;
  /* gap: 0.6em; */
  align-items: center;
}

.logo {
  width: 180px;
}
.heading {
  color: #999999;
  font-family: "Roboto", sans-serif;
  /* font-size: 12px; */
  text-transform: uppercase;
  margin: 0;
}

.sub-heading {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

/* make conversation area grow */
.chatbot-conversation-container {
  flex: 1;
  overflow-y: auto;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* hide scrollbar on webkit and firefox */
.chatbot-conversation-container::-webkit-scrollbar {
  display: none;
}
.chatbot-conversation-container::-moz-scrollbar {
  display: none;
}

.speech {
  padding: 1em;
  max-width: 80%;
  color: var(--light-text);
  border-radius: var(--border-rad-lg);
  font-size: 1.1em;
  word-wrap: break-word;
}

.speech-ai {
  background: #334959;
  border-top-left-radius: 0;
  align-self: flex-start;
}

.speech-human {
  background: #2f4f4f;
  border-top-right-radius: 0;
  align-self: flex-end;
}

.chatbot-input-container {
  display: flex;
  margin-top: auto;
}

input[type="text"],
button {
  background-color: transparent;
  border: 1px solid #586e88;
  padding: 1em;
  font-size: 1em;
}

input[type="text"] {
  color: var(--light-text);
  width: 100%;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--border-rad-lg);
  border-bottom-left-radius: var(--border-rad-lg);
}

button {
  border-left: 0;
  border-top-right-radius: var(--border-rad-lg);
  border-bottom-right-radius: var(--border-rad-lg);
  cursor: pointer;
}

.send-btn-icon {
  width: 20px;
  display: block;
}
